#!/usr/bin/env bash

set -euo pipefail

{{ if eq .chezmoi.os "linux" -}}
apt install zsh
chsh -s $(which zsh)
echo "ZSH installation finished, logging out in 5 seconds..."
sleep 5
logout
{{- else -}}
echo "Running on macOS, ZSH installation not required."
{{- end }}
