#!/usr/bin/env bash

set -euo pipefail

SBOM_PATH="$HOME/.local/share/chezmoi/environments/{{ .chezmoi.os }}/sbom/apt"

sudo apt update

# shellcheck disable=SC2046
sudo apt install --yes $(cat "$SBOM_PATH" | xargs)
