[user]
  email = linus.willner@reaktor.com
  name = Linus Willner
  signingKey = 4DD81FDF9466704667DADF40C8DE1A7CE94FE57D
[commit]
  gpgSign = true
[tag]
  forceSignAnnotated = true
[gpg]
  program = /opt/homebrew/bin/gpg
  format = openpgp
[init]
  defaultBranch = master
[core]
  hooksPath = .git/hooks
[mergetool]
  keepBackup = true
[push]
  autoSetupRemote = true
[fetch]
  prune = true
[gpg "ssh"]
  program = 
  allowedSignersFile = 
[pull]
  rebase = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[rebase]
  autosquash = true
[alias]
  ignore-local = update-index --assume-unchanged
  unignore-local = update-index --no-assume-unchanged
  local-ignore = !code .git/info/exclude
