#!/usr/bin/env bash
# Install Firefox (from a sane source, meaning APT, not the decrepit dumpster that is Snap)

set -euo pipefail

sudo install -d -m 0755 /etc/apt/keyrings

wget -q https://packages.mozilla.org/apt/repo-signing-key.gpg -O- |\
  sudo tee /etc/apt/keyrings/packages.mozilla.org.asc > /dev/null

echo "deb [signed-by=/etc/apt/keyrings/packages.mozilla.org.asc] https://packages.mozilla.org/apt mozilla main" |\
  sudo tee -a /etc/apt/sources.list.d/mozilla.list > /dev/null

sudo apt update
~/.maintenance/apt-sbom.sh install --yes firefox-devedition
